{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Machine list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Uuid</th>
                <th>Probe</th>
                <th>Ip</th>
                <th>Port</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('machine_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.uUID }}</td>
                <td>{{ entity.probe }}</td>
                <td>{{ entity.iP }}</td>
                <td>{{ entity.port }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('machine_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('machine_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('machine_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
